@import "_vars/vars";
@import "_fonts/fonts";

/*  ----------------------------------------------------------------
/*  >>> TABLE OF CONTENTS:
/*  ----------------------------------------------------------------
/*  1. Body
/*  2. Selection
/*  3. Buttons
/*  --------------------------------------------------------------*/

/*  ----------------------------------------------------------------
/*  1. Body
/*  --------------------------------------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: $default-font;
  font-size: $font-size;
  color: $font-color;
  background: $background;
  margin: 0;
}

/*  --------------------------------------------------------------*/
/*  2. Selection
/*  --------------------------------------------------------------*/
*::selection {
  background: $link;
  color: $font-color;
}

/*  --------------------------------------------------------------*/
/*  3. Buttons
/*  --------------------------------------------------------------*/
button {
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

/*  --------------------------------------------------------------*/
/*  4. Scrollbars
/*  --------------------------------------------------------------*/
*,
html * /* override x.xhtml.ru style */
{
	scrollbar-width: thin;
	scrollbar-color: orange black;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 12px;
	width: 1px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: #1b1a20;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: orange;
	//border-radius: 5px;
	//border: 3px solid black;
}
